<h1>Credits</h1>
<table>
  <tr>
    <th>Timecode</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  <% @credits.each do |credit| %>
  <tr>
    <td><% if !credit.timecode.nil? %> <%= credit.timecode.code %><% end %> </td>
    <td><%= credit.amount %></td>
    <td><%= credit.created_at %></td>
  </tr>
  <% end %>
</table>
