<h1><%= t 'timecodes.add_new' %></h1>

<% form_tag timecodes_path do |f| -%>
<p><%= label_tag 'model', I18n.t('model') %><br/>
<%= collection_select (:model, :id, @models, :id, :title) %></p>

<p><%= submit_tag t 'add' %></p>
<% end -%>
